/*===================MENU=====================*/
i {
    color: white;
}
/*===================MENU=====================*/


span {
    color: rgb(56, 102, 81);
}


#logotipo-topo {
    margin-top: -9px;
}



#menus {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 15px;

    
    background-color: #080808;
}



#menus a:hover {
    color: #fff;
}




#segundo-menu {
    font-size: 15px;
    background-color: #080808;
}



#segundo-menu a {
    color: #fff;
}



#segundo-menu a:hover {
    background: #808880;
    color: #f1f1f1;
}




#terceiro-menu {
    font-size: 15px;
    background-color: #080808;
}

#terceiro-menu a {
    color: #fff;
}


#terceiro-menu a:hover {
    background: #808880;
    color: #f1f1f1;
}










/* Table Base */

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: arial;
}

.table {
    border-bottom: #3b3b3b solid 1px;
    width: 100%;
    margin-bottom: 20px;
}

.table th,
.table td {
    border-right: #3b3b3b solid 1px;
    font-size: 12px;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
}

.table td:last-child {
    border-right: 0;
}

.table thead th {
    font-weight: normal;
    background-color: #365B56;
    color: #fff;
    font-size: 15px;
}

.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
    background-color: #f8f8f8;
}


/* Small Sizes */
@media (max-width: 767px) {

    /* Responsive Table */
    .table-responsive {
        display: block;
        position: relative;
        width: 100%;
    }

    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
        display: block;
    }

    .table-responsive td,
    .table-responsive th {
        height: 35px;
    }

    .table-responsive thead {
        float: left;
    }

    .table-responsive tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }

    .table-responsive tbody tr {
        display: inline-block;
    }

    .table td:last-child {
        border-right: #999999 solid 1px;
    }
}






/*===================Footer=====================*/
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #365B56;
}

/*===================Footer=====================*/

#baixo {
    background-color: white;
}

#baixo p {
    font-size: 15px;
}


#txt-footer1 a:link{
    text-decoration: none;
}

#txt-footer1 a:hover {
    color: #3b3b3b;
}




#txt-footer2 a:link{
    text-decoration: none;
}
#txt-footer2 a:hover {

    color: #3b3b3b;
}



#txt-footer3 a:link{
    text-decoration: none;
}

#txt-footer3 a:hover {

    color: #3b3b3b;
}

/*===================logos footer=====================*/
#ccs {
    height: 80px;
}

#iti {
    height: 80px;
}

#visa {
    height: 50px;
}

#boleto {
    height: 50px;
}

#seg {
    height: 60px;
}
/*===================logos footer=====================*/



/*===================Final=====================*/
#final {
    margin-top: 10px;
    background-color: #365B56;
    height: 60px;
}

#final p {

    color: whitesmoke;

}
/*===================Final=====================*/



/*==============================================*/



/*===================Footer=====================*/



    /*===================Space=====================*/
    .space-10 {
        height: 10px;
    }

    .space-20 {
        height: 20px;
    }

    .space-30 {
        height: 30px;
    }

    .space-40 {
        height: 40px;
    }

    .space-50 {
        height: 50px;
    }

    .space-60 {
        height: 60px;
    }

    .space-70 {
        height: 70px;
    }

    .space-80 {
        height: 80px;
    }

    .space-90 {
        height: 90px;
    }

    .space-100 {
        height: 100px;
    }

/*===================Space=====================*/