/*===================MENU=====================*/
i {
    color: white;
}
/*===================MENU=====================*/


span {
    color: #fff;
}


#logotipo-topo {
    margin-top: -9px;
}


#menus {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 15px;

    
    background-color: #014f5b;
}



#menus a:hover {
    color: #f1f1f1;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #014f5b;
}


#segundo-menu {
    font-size: 15px;
    background-color: #014f5b;
    color: #014f5b;
}



#segundo-menu a {
    background-color: #014f5b;
    color: #f1f1f1;
}



#segundo-menu a:hover {
    background: #013941;
    color: #f1f1f1;
}




#terceiro-menu {
    font-size: 15px;
    background-color: #014f5b;
}


#terceiro-menu a {
    background-color: #014f5b;
    color: #f1f1f1;
}



#terceiro-menu a:hover {
    background: #013941;
    color: #f1f1f1;
}











/*===================Banner=====================*/


.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}



/*===========slider indicator===========*/
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #014f5b;
}

.carousel-control.left, .carousel-control.left {
    background-image: none;
    color: #014f5b;
}

.carousel-indicators li {
    border-color: #014f5b;
}

.carousel-indicators li.active {
    background-color: #014f5b;
}
/*===========slider indicator===========*/
/*===================Banner=====================*/




#sobre {

    color: black;
    position: center;
}

#sobre p {
    font-size: 20px;
}

#sobre a:link {

    text-decoration: none;
}




/*============= botoes do topo ================*/
.btn-group .button {
    background-color: #014f5b; /* Green */

    border: none;

    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.btn-group .button:hover {
    background-color: #014f5b;
}


/*============= Flesha botoes  ================*/
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*============= botoes do topo ================*/



/*============= corpo escolha===============*/

#epf-fundo {
    background-color: #3b3b3b;
}
/*============= corpo escolha===============*/









/*============= botoes da compra ================*/
.button-compra {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #014f5b;
    border: none;
    border-radius: 10px;
   
}

.button-compra:hover {
    background-color: #013941;
   
}

.button-compra:active {
    background-color: #808880;
    transform: translateY(4px);
}

.price-status a:link {
    color: whitesmoke;
    text-decoration: none;
}

.price-status a:hover {
    color: whitesmoke;
    text-decoration: none;
}
/*============= botoes da compra ================*/














/*=============estilo do corpo do card da compra ================*/
.fh5co-heading {
    margin-bottom: 30px;
}
.fh5co-heading h2 {
    margin-bottom: 10px;
}
.fh5co-heading p {
    font-size: 18px;
}
.fh5co-heading.white {
    color: #ffffff;
}
.fh5co-heading.white h2, .fh5co-heading.white p {
    color: #ffffff;
}

.fh5co-section-with-image {
    position: relative;
}
.fh5co-section-with-image .fh5co-box {
    padding: 50px;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    z-index: 1001;
    width: 40%;
    right: 10%;
    top: 50%;
    -webkit-box-shadow: 4px 11px 35px -14px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 11px 35px -14px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 4px 11px 35px -14px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 4px 11px 35px -14px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 11px 35px -14px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 992px) {
    .fh5co-section-with-image .fh5co-box {
        position: relative;
        right: auto;
        bottom: auto;
        width: 100%;
        margin-top: auto !important;
    }
}
@media screen and (max-width: 480px) {
    .fh5co-section-with-image .fh5co-box {
        position: relative;
        right: auto;
        bottom: auto;
        width: 100%;
        padding: 15px;
    }
}
.fh5co-section-with-image h2 {
    font-size: 50px;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .fh5co-section-with-image h2 {
        font-size: 32px;
    }
}
.fh5co-section-with-image p {
    font-size: 20px;
}
@media screen and (max-width: 768px) {
    .fh5co-section-with-image p {
        font-size: 16px;
    }
}
.fh5co-section-with-image p:last-child {
    margin-bottom: 0;
}

.fh5co-property {
    background: #fff;
    text-align: left;
    width: 100%;
    float: left;
    -webkit-box-shadow: 4px 11px 35px -14px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 4px 11px 35px -14px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 4px 11px 35px -14px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 4px 11px 35px -14px rgba(0, 0, 0, 0.8);
    box-shadow: 4px 11px 35px -14px rgba(0, 0, 0, 0.8);
}
.fh5co-property figure {
    margin-bottom: 0;
    position: relative;
}
.fh5co-property figure img {
    margin-bottom: 0;
}



.fh5co-property figure .tag {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 10px;
    background: #01BBEE;   /*cor do botao comprar*/
    color: #fff;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}


.fh5co-property .fh5co-property-specification {
    border-top: 1px solid #01BBEE;
    background: #3b3b3b;
    color: #FFFFFF;
    padding: 15px 30px 15px 30px;
    font-size: 13px;
    margin-bottom: 0;
}

.fh5co-property .fh5co-property-specification > span {
    margin-right: 10px;
}



.fh5co-property .fh5co-property-specification > span strong {
    color: #01BBEE; /*cor dos detalhes de baixo*/
}




.fh5co-property .fh5co-property-innter {
    padding: 30px 30px 30px 30px;
}
.fh5co-property .fh5co-property-innter p {
    color: #3b3b3b; /*cor do TEXTO*/
}
.fh5co-property .fh5co-property-innter p:last-child {
    margin-bottom: 0;
}
.fh5co-property .fh5co-property-innter h3 {
    margin-bottom: 20px;
}
.fh5co-property .fh5co-property-innter h3 a:hover, .fh5co-property .fh5co-property-innter h3 a:active, .fh5co-property .fh5co-property-innter h3 a:focus {
    text-decoration: none;
}



.fh5co-property .price-status {
    margin-bottom: 20px;
}
.fh5co-property .price-status .price {
    font-size: 28px;
    color: #01BBEE; /*cor do PRECO*/
    margin-bottom: 10px;
    position: relative;
}
.fh5co-property .price-status .price .per {
    font-size: 12px;
    text-transform: uppercase;
}
/*=============estilo do corpo do card da compra ================*/







/*===================Footer=====================*/


/*===================Footer=====================*/

#baixo {
    background-color: white;
}

#baixo p {
    font-size: 15px;
}


#txt-footer1 a:link{
    text-decoration: none;
}

#txt-footer1 a:hover {
    color: #3b3b3b;
}




#txt-footer2 a:link{
    text-decoration: none;
}
#txt-footer2 a:hover {

    color: #3b3b3b;
}



#txt-footer3 a:link{
    text-decoration: none;
}

#txt-footer3 a:hover {

    color: #3b3b3b;
}

/*===================logos footer=====================*/
#ccs {
    height: 80px;
}

#iti {
    height: 80px;
}

#visa {
    height: 50px;
}

#boleto {
    height: 50px;
}

#seg {
    height: 60px;
}
/*===================logos footer=====================*/



/*===================Final=====================*/
#final {
    margin-top: 10px;
    background-color: #014f5b;
    height: auto;

}

#final p {
    color: whitesmoke;
}
/*===================Final=====================*/



/*==============================================*/



/*===================Footer=====================*/








/*===================Space=====================*/
.space-10{
    height: 10px;
}

.space-20{
    height: 20px;
}

.space-30{
    height: 30px;
}

.space-40{
    height: 40px;
}
.space-50{
    height: 50px;
}

.space-60{
    height: 60px;
}

.space-70{
    height: 70px;
}

.space-80{
    height: 80px;
}

.space-90{
    height: 90px;
}

.space-100{
    height: 100px;
}
/*===================Space=====================*/
