/*===================MENU=====================*/
i {
    color: white;
}
/*===================MENU=====================*/


span {
    color: rgb(56, 102, 81);
}


#logotipo-topo {
    margin-top: -9px;
}



#menus {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 15px;

    
    background-color: #080808;
}



#menus a:hover {
    color: #fff;
}




#segundo-menu {
    font-size: 15px;
    background-color: #080808;
}



#segundo-menu a {
    color: #fff;
}



#segundo-menu a:hover {
    background: #808880;
    color: #f1f1f1;
}




#terceiro-menu {
    font-size: 15px;
    background-color: #080808;
}

#terceiro-menu a {
    color: #fff;
}


#terceiro-menu a:hover {
    background: #808880;
    color: #f1f1f1;
}










/*============= botoes do topo ================*/
.btn-group .button {
    background-color: #365B56; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}



.btn-group .button:hover {
    background-color: #365B56;
}


/*============= Flesha botoes  ================*/
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button a:link {


    text-decoration: none;
}

.button span a:link {
    color: #f1f1f1;
}
/*============= botoes do topo ================*/









/*===================Footer=====================*/
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #365B56;
}



#baixo {
    background-color: white;
}

#baixo p {
    font-size: 15px;
}


#txt-footer1 a:link{
    text-decoration: none;
}

#txt-footer1 a:hover {
    color: #3b3b3b;
}




#txt-footer2 a:link{
    text-decoration: none;
}
#txt-footer2 a:hover {

    color: #3b3b3b;
}



#txt-footer3 a:link{
    text-decoration: none;
}

#txt-footer3 a:hover {

    color: #3b3b3b;
}




#ccs {
    height: 80px;
}

#iti {
    height: 80px;
}

#visa {
    height: 50px;
}

#boleto {
    height: 50px;
}

#seg {
    height: 60px;
}



#final {
    margin-top: 10px;
    background-color: #365B56;
    height: 60px;
}

#final p {

    color: whitesmoke;

}
/*===================Footer=====================*/





/*===================Space=====================*/
.space-10{
    height: 10px;
}

.space-20{
    height: 20px;
}

.space-30{
    height: 30px;
}

.space-40{
    height: 40px;
}
.space-50{
    height: 50px;
}

.space-60{
    height: 60px;
}

.space-70{
    height: 70px;
}

.space-80{
    height: 80px;
}

.space-90{
    height: 90px;
}

.space-100{
    height: 100px;
}
/*===================Space=====================*/